In [ ]:
def censor_string(txt, lst, char):
    l=txt.split(" ")

In [14]:
txt="Today is a Wednesday!"
l=txt.split(" ")
k=l.index("Today")
l.remove("Today")
l.insert(k,"-"*len(("Today")))
" ".join(l)

'----- is a Wednesday!'

In [15]:
def censor_string(txt, lst, char):
    l=txt.split(" ")
    for i in lst:
        k=l.index(i)
        l.remove(i)
        l.insert(k,char*len((i)))
    return " ".join(l)

In [16]:
censor_string("Today is a Wednesday!", ["Today", "a"], "-")

'----- is - Wednesday!'

In [19]:
txt="Today is a Wednesday!"
l=txt.lower()
l

'today is a wednesday!'

In [26]:
def censor_string(txt, lst, char):
    l=[]
    for i in txt.split(" "):
        if i.lower() in lst or i.capitalize() in lst:
            l.append(char*len(i))
        else:
            l.append(i)
    return " ".join(l)

In [27]:
censor_string("Why did the chicken cross the road?", ["Did", "chicken", "road"], "*")

'Why did the ******* cross the road?'

In [31]:
n = 4
a = [[0] * n for i in range(n)]
for i in range(n):
    for j in range(n):
        if i < j:
            a[i][j] = 0
        elif i > j:
            a[i][j] = 2
        else:
            a[i][j] = 1
#for row in a:
    #print(' '.join([str(elem) for elem in row]))
a

[[1, 0, 0, 0], [2, 1, 0, 0], [2, 2, 1, 0], [2, 2, 2, 1]]

In [32]:
a = [[1, 2, 3, 4], [5, 6], [7, 8, 9]]
s = 0
for row in a:
    for elem in row:
        s += elem
print(s)

45

In [33]:
a = [[1, 2, 3, 4], [5, 6], [7, 8, 9]]
s = 0
for i in range(len(a)):
    for j in range(len(a[i])):
        s += a[i][j]
print(s)

45

In [68]:
lst=[
  [0, 0, 0, 0],
  [0, 1, 0, 0],
  [0, 1, 1, 0],
  [1, 1, 1, 1]
]
k=
for i in range(len(lst)):
    for j in range(len(lst[i])):    
        k+=lst[i][j]
    print(k)

SyntaxError: invalid syntax (<ipython-input-68-8a569d892705>, line 7)

In [74]:
lst=[
	[0, 0, 0, 0, 0, 0],
	[0, 0, 0, 0, 0, 0],
	[1, 1, 1, 1, 0, 0],
	[1, 1, 1, 1, 1, 1]
]
l=[]
s=0
for i in range(6):
    for j in range(4):
        s+=lst[j][i]
        #print(s)
    l.append(s)
    s=0
k=max(l)
k

2

In [56]:
l=list(range(0,24,4))
l

[0, 4, 8, 12, 16, 20]

In [84]:
def tallest_skyscraper(lst):
	return sum([1 for i in lst if sum(i)>0])

In [85]:
tallest_skyscraper([
	[0, 0, 0, 0, 0, 0],
	[0, 0, 0, 1, 0, 0],
	[1, 1, 1, 1, 0, 0],
	[1, 1, 1, 1, 1, 1]
])

3

In [91]:
num=3320707
t=list(str(num))[::-1]
for i in t:
    if int(i)==0:
        t.remove(i)
k=int(''.join(t))
num-k

3243474

In [106]:
num=3320707
t=sorted(list(str(num)))
t1=sorted(list(str(num)),reverse=True)
k=int(''.join(t))
k1=int(''.join(t1))
k1-k

7709823

In [107]:
num=3320707
int(''.join(sorted(list(str(num)),reverse=True)))-int(''.join(sorted(list(str(num)))))

7709823

In [108]:
l=[]
l.append(3)
l.append(4)
l.append(3)
l

[3, 4, 3]

In [160]:
a=3
b=3
c=4
l=[a,b,c]
l1=sorted(l,key=count)
l1

NameError: name 'count' is not defined

In [170]:
def equal(a, b, c):
	if a==b==c:
		return 3
	elif (a==b and a) or (a=b and a!=c)
		return 2
	else:
		return 0

In [171]:
equal(6, 3, 3)

0

In [165]:
equal(1,7,6)

0

In [177]:
def equal(a, b, c):
	return 3 if a == b == c else 0 if c != a != b != c else 2

In [178]:
equal(2,3,4)

0

In [ ]:
def equal(a, b, c):
    if len({a, b, c}) == 3:
        return 0
    return 4 - len({a, b, c})