In [9]:
users=["pap_ier44", "townieBOY", "panda321", "motor_bike5", "sandwichmaker833", "violinist91"]
if len(users)==0:
    print("no one online")
if len(users)==1:
    print("{}  online".format(users[0]))
if len(users)==2:
    print("{} and {} online".format(users[0],users[1]))
else:
     print("{}, {} and {} online".format(users[0],users[1],len(users)-2))

pap_ier44, townieBOY and 4 online

In [13]:
def chatroom_status(users):
	if len(users)==0:
		return "no one online"
	if len(users)==1:
		return "{} online".format(users[0])
	if len(users)==2:
		return "{} and {} online".format(users[0],users[1])
	else:
		return "{}, {} and {} online".format(users[0],users[1],len(users)-2)

In [12]:
chatroom_status(["pap_ier44", "townieBOY", "panda321", "motor_bike5", "sandwichmaker833", "violinist91"])

'pap_ier44, townieBOY and 4 online'

In [14]:
#s = '²3455'
s = '\u00B23455'

if s.isnumeric() == True:
  print('All characters are numeric.')
else:
  print('All characters are not numeric.')

All characters are numeric.

In [19]:
num="U//DertHe1nflu3nC3"
l= int([i for i in num if i.isnumeric()][0])
l

1

In [20]:
def left_digit(num):
	return int([i for i in num if i.isnumeric()][0])

In [21]:
left_digit("U//DertHe1nflu3nC3")

1

In [22]:
left_digit("0nSlaUgh7*d3atH")

0

In [24]:
left_digit("F8andD3st1nY")

8

In [31]:
lst=[3, 6, 12, 36]
l=[i for i in lst if lst[len(lst)-1]%i==0]
l

[3, 6, 12, 36]

In [30]:
# Python implementation of Naive method 
# to print all divisors 
  
# method to print the divisors 
n=100
i = 1
while i <= n : 
    if (n % i==0) : 
        print (i)
    i = i + 1

1
2
4
5
10
20
25
50
100

In [40]:
lst=[1, 2, 4, 8, 16, 32]
l1=len([i for i in lst if lst[len(lst)-1]%i==0])==len(lst)
l1

True

In [43]:
def factor_chain(lst):
	return len([i for i in lst if lst[len(lst)-1]%i==0])==len(lst)

In [44]:
factor_chain([1, 1, 1, 1, 1, 1])

True



Write a function that retrieves the last n elements from a list.

last([1, 2, 3, 4, 5], 1) ➞ [5]

last([4, 3, 9, 9, 7, 6], 3) ➞ [9, 7, 6]

last([1, 2, 3, 4, 5], 7) ➞ "invalid"

last([1, 2, 3, 4, 5], 0) ➞ []

In [50]:
last=[4, 3, 9, 9, 7, 6]
last[len(last)-3:]

[9, 7, 6]

In [55]:
def last(a, n):
	if n==0:
		return []
	elif n>len(a):
		return "invalid"
	else:
		return a[len(a)-n:]

In [56]:
last([4, 3, 9, 9, 7, 6], 3)

[9, 7, 6]

In [57]:
last([5, 1, 2], 3)

[5, 1, 2]

In [58]:
last([], 1)

'invalid'

In [59]:
last([1, 2, 3, 4, 5], 7)

'invalid'

In [60]:
last([1, 2, 3, 4, 5], 0)

[]

Given a list of numbers and a value n, write a function that returns the probability of choosing a number greater than or equal to n from the list. The probability should be expressed as a percentage, rounded to one decimal place.
probability([5, 1, 8, 9], 6) ➞ 50.0

probability([7, 4, 17, 14, 12, 3], 16) ➞ 16.7

probability([4, 6, 2, 9, 15, 18, 8, 2, 10, 8], 6) ➞ 70.0

Probability of event = (num of favourable outcomes) / (total num of possible outcomes)

In [65]:
def probability(lst, n):
	return round(len([i for i in lst if i>=n])/(len(lst))*100,1)

In [66]:
probability([11, 10, 9, 18, 16, 18, 4, 3, 5], 13)

33.3

In [70]:
sayac=0
sayi=input('Sayı: ')
for i in range(2,int(sayi)):
      if(int(sayi)%i==0):
            sayac+=1
            break
if(sayac!=0):
      print("Sayı Asal Değil")
else:
      print("Sayı Asal")

Sayı: 1
Sayı Asal

In [72]:
def is_prime(num):
	c=0
	if num==1:
		return False
	else:
		for i in range(2,num):
			if num%i==0:
				c+=1
				break
		if c!=0:
			return False
		else:
			return True

In [73]:
is_prime(1)

False

In [74]:
is_prime(18)

False

In [75]:
is_prime(31)

True

In [77]:
>>> numbers = 1,2
",".join("'{0}'".format(n) for n in numbers)

"'1','2'"

In [85]:
ord("m")

109

Write a function that transforms all letters from [a, m] to 0 and letters from [n, z] to 1 in a string.

convert_binary("house") ➞ "01110"

convert_binary("excLAIM") ➞ "0100000"

convert_binary("moon") ➞ "0111"

In [86]:
def convert_binary(string):
	zero='abcdefghijklm'
	one='nopqrstuvwxyz'
	string=string.lower()
	ans=''
	for i in range(len(string)):
		if string[i] in zero: ans+='0'
		elif string[i] in one: ans+='1'
	return ans