In [1]:
lst = [1, 2, 3, 4, 5, 6]
first = lst[0]
middle = lst[1:-1]
last = lst[-1]

print(first)
print(middle)
print(last)

1
[2, 3, 4, 5]
6

In [8]:
lst = [1, 2, 3, 4, 5, 6]
"{} {} {}".format(lst[0],lst[1:-1],lst[-1])

'1 +\n +  [2, 3, 4, 5] +\n +6+\n'

In [15]:
"{} {} {} {} {}".format(lst[0],\n,lst[1:-1],\n,lst[-1])

SyntaxError: unexpected character after line continuation character (<ipython-input-15-4df5f3f4fdc7>, line 1)

In [11]:
lst = [1, 2, 3, 4, 5, 6]


'{lst[0]} {lst[1:-1]} {lst[-1]}'.format(lst=lst)

TypeError: list indices must be integers or slices, not str

In [14]:
data = [4, 8, 15, 16, 23, 42]
'{d[0]} {d[1:-1]}'.format(d=data)

TypeError: list indices must be integers or slices, not str

In [17]:
first, *middle, last = [1, 2, 3, 4, 5, 6]

In [9]:
get_student_names={
  "Student 1" : "Steve",
  "Student 2" : "Becky",
  "Student 3" : "John"
}
l=list(get_student_names.values())

In [10]:
l

['Steve', 'Becky', 'John']

In [19]:
def get_student_names(students):
	l=list(students.values())
	l.sort()
	return l

In [20]:
get_student_names({
	"Student 1":"Steve",
	"Student 2":"Becky",
	"Student 3":"John"
})

['Becky', 'John', 'Steve']

In [25]:
next_in_line=[5, 6, 7, 8, 9]
next_in_line.remove(5)
next_in_line.append(10)
next_in_line

[6, 7, 8, 9, 10]

In [28]:
next_in_line=[5, 6, 7, 8, 9]
del next_in_line[0]
next_in_line.append(10)
next_in_line

[6, 7, 8, 9, 10]

In [29]:
def next_in_line(lst, num):
	if len(lst)==0:
		return "No list has been selected"
	else:
		del lst[0]
		lst.append(num)
		return lst

In [30]:
next_in_line([7, 6, 3, 23, 17], 10)

[6, 3, 23, 17, 10]

In [31]:
next_in_line([0], 1)

[1]

In [32]:
next_in_line([], 6)

'No list has been selected'

In [34]:
ll=["45%", "32%", "97%", "33%"]
squares = [float(str(i).strip("%"))/100 for i in ll]

squares

[0.45, 0.32, 0.97, 0.33]

In [35]:
def convert_to_decimal(perc):
	return [float(str(i).strip("%"))/100 for i in perc]

In [36]:
convert_to_decimal(["33%", "98.1%", "56.44%", "100%"])

[0.33, 0.981, 0.5644, 1.0]

In [37]:
l=list(range(1,11))
l

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [38]:
ll=[7, 2, 3, 6, 5, 9, 1, 4, 8]
l=list(range(1,11))
for i in ll:
    if i in l:
        continue
    else:
        print(i)

In [39]:
def missing_num(lst):
	sum(lst)
	for i in lst:
		if i in l:
			continue
		else:
			return i

In [41]:
missing_num([1, 2, 3, 4, 6, 7, 8, 9, 10])

In [43]:
ll=[7, 2, 3, 6, 5, 9, 1, 4, 8]
55-sum(ll)

10

In [44]:
def missing_num(lst):
	return 55-sum(lst)

In [45]:
missing_num([1, 2, 3, 4, 6, 7, 8, 9, 10])

5

In [46]:
missing_num([7, 2, 3, 9, 4, 5, 6, 8, 10])

1

In [49]:
ss="What's the time?"
sss=""
ssss=""
for i in ss:
    if i in ["a", "e", "i", "o", "u"]:
        sss+=i
    else:
        ssss+=i
sss+ssss

"aeieWht's th tm?"

In [56]:
txt="What's the time?"
a=[i for i in txt if i in ["a", "e", "i", "o", "u"]]
a

['a', 'e', 'i', 'e']

In [57]:
def split(txt):
	sss=""
	ssss=""
	for i in txt:
		if i in ["a", "e", "i", "o", "u"]:
			sss+=i
		else:
			ssss+=i
	return sss+ssss

In [58]:
split("Hello!")

'eoHll!'

In [59]:
sa=[1, 3, 5, 7]
sa[1]

3

In [78]:
def nth_smallest(lst, n):
	if len(lst)<n:
		return print()
	else:
		lst.sort()
		return lst[n-1]

In [79]:
nth_smallest([5, 4, 3, 2, 1, -3],1)

-3

In [80]:
nth_smallest([5, 4, 3, 2, 1, -3], 5)

4

In [83]:
nth_smallest([4, 5], 3)

In [87]:
bin(666)[2:]

'1010011010'

In [88]:
def binary(decimal):
	return bin(decimal)[2:]

In [89]:
binary(0)

'0'

In [90]:
binary(1023)

'1111111111'

In [99]:
txt=[5, 7, 8, 9, 10, 15]

ss=[]
for i in txt:
    if i in ss:
        continue
    else:
        ss.append(i)
ss

[5, 7, 8, 9, 10, 15]

In [100]:
def setify(lst):
	ss=[]
	for i in lst:
		if i in ss:
			continue
		else:
			ss.append(i)
	return ss

In [101]:
setify([5, 9, 9])

[5, 9]

In [102]:
t="Dave Barry"
t1="Ray Adverb"
t.split(" ")

['Dave', 'Barry']

In [112]:
t="Dave Barry"
t1="Ray Adverb"

say=0
for i in s1.lower():
    if i in s2.lower():
        say+=1
if say==len(s1):
    print("aaa")
else:
    print("aaaa")

aaa

In [117]:
def is_anagram(s1, s2):
	say=0
	if len(s1)==len(s2):
		for i in s1.lower():
			if i in s2.lower():
				say+=1
		if say==len(s1):
			return True
		else:
			return False
	else:
		return False

In [114]:
is_anagram('Nope', 'Note')

False

In [115]:
is_anagram('cristian', 'Cristina')

True

In [118]:
is_anagram('Apple', 'Appeal')

False

In [119]:
def is_anagram(s1, s2):
    return(sorted(s1.lower()) == sorted(s2.lower()))

In [121]:
t="Dave Barry"
sorted(t)

[' ', 'B', 'D', 'a', 'a', 'e', 'r', 'r', 'v', 'y']

In [132]:
string ='abC'
newstring ='' 
count1 = 0
count2 = 0
count3 = 0
  
for a in string: 
# Checking for lowercase letter and converting to uppercase. 
    if (a.isupper()) == True: 
        count1+= 1
        newstring+=(a.lower()) 
# Checking for uppercase letter and converting to lowercase. 
    elif (a.islower()) == True: 
        count2+= 1
        newstring+=(a.upper()) 
# Checking for whitespace letter and adding it to the new string as it is. 
    elif (a.isspace()) == True: 
        count3+= 1
        newstring+= a 
print("In original String : ") 
print("Uppercase -", count1) 
print("Lowercase -", count2) 
print("Spaces -", count3) 
  
print("After changing cases:") 
print(newstring)

In original String :
Uppercase - 1
Lowercase - 2
Spaces - 0
After changing cases:
ABc

In [133]:
def steps_to_convert(txt):
	newstring ='' 
	count1 = 0
	count2 = 0
	for a in txt: 
		if (a.isupper()) == True: 
			count1+= 1 
		elif (a.islower()) == True: 
			count2+= 1
	if count1==count2:
		return count1
	elif count1>count2:
		return count2
	elif count2>count1:
		return count1

In [126]:
steps_to_convert('CCaaCCaaCa')

5

In [127]:
steps_to_convert('')

0

In [130]:
steps_to_convert('ABA')

0

In [134]:
steps_to_convert('abC')

1

In [135]:
def steps_to_convert(txt):
	return min(len([x for x in txt if x.islower()]), len([x for x in txt if x.isupper()]))

In [136]:
def steps_to_convert(txt):
	newstring ='' 
	count1 = 0
	count2 = 0
	for a in txt: 
		if (a.isupper()) == True: 
			count1+= 1 
		elif (a.islower()) == True: 
			count2+= 1
	return min(count1,count2)

In [137]:
steps_to_convert('abC')

1

In [138]:
steps_to_convert('CCaaCCaaCa')

5

In [140]:
'{:%d}'.format(42)

ValueError: Invalid format specifier

In [149]:
def profit_margin(cost_price, sales_price):
	return "%"+"{}".format(((sales_price-cost_price)/sales_price)*100)

In [150]:
profit_margin(30, 50)

'%40.0'

In [151]:
profit_margin(9999, 10001)

'%0.019998000199980003'

In [179]:
def profit_margin(cost_price, sales_price):
	return '{}'.format(round(((sales_price-cost_price)/sales_price)*100,1)) + "%"

In [180]:
profit_margin(9999, 10001)

'0.0%'

In [181]:
profit_margin(30, 50)

'40.0%'

In [183]:
String1="abcbba"
String2="abcbda"
i=0
say=0
while(i<len(String1)):
    if String1[i]!=String2[i]:
        say+=1
    i+=1
say

1

In [189]:
def hamming_distance(txt1, txt2):
	i=0
	say=0
	while(i<len(txt1)):
		if txt1[i]!=txt2[i]:
			say+=1
		i+=1
	return say

In [190]:
hamming_distance("abcde","abcde")

0

In [191]:
hamming_distance("abcde", "bcdef")

5

In [194]:
def convert(list): 
      
    # Converting integer list to string list 
    s = [str(i) for i in list] 
      
    # Join list items using join() 
    res = int("".join(s)) 
      
    return(res)

In [195]:
res = [int(x) for x in str(num)]

NameError: name 'num' is not defined

In [196]:
def to_list(num):
	return [int(x) for x in str(num)]
def to_number(lst):
	return int("".join([str(i) for i in lst]))

In [197]:
to_list(235)

[2, 3, 5]

In [198]:
to_number([2, 3, 5])

235

In [199]:
def sort_by_length(lst):
	lst.sort()
	return lst

In [200]:
sort_by_length(["Google", "Apple", "Microsoft"])

['Apple', 'Google', 'Microsoft']

In [201]:
sort_by_length(["Tatooine", "Hoth", "Yavin", "Dantooine"])

['Dantooine', 'Hoth', 'Tatooine', 'Yavin']

In [212]:
list=['Dantooine', 'Hoth', 'Tatooine', 'Yavin']
sorted(list, key=len)

['Hoth', 'Yavin', 'Tatooine', 'Dantooine']

In [213]:
def sort_by_length(lst):
	return sorted(lst, key=len)

In [214]:
sort_by_length(["Tatooine", "Hoth", "Yavin", "Dantooine"])

['Hoth', 'Yavin', 'Tatooine', 'Dantooine']